<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h1>Query executor</h1>
<br>
<br>



<form name="queryform" method="POST">
   Please enter your query below:
   <br>
   <textarea rows = "8" cols = "80" name = "description">
   </textarea><br>
   <input name = "text" type = "submit"> 
</form>




<br>
<br>



<!-- Variable that updates with the HTML table from the web app code. "Safe" eliminates espace characters to render HTML -->
<h3>Results:</h3>
{{query_result|safe}}




<br>
<br>
<br>

<h3>Table names and column descriptions:</h3>



<h5>voters</h5>
<img src="https://imgur.com/2GBYcbD.png" alt="Voters" style="width:500px;height:300px;"/>  
<br>


<h5>counties</h5>
<img src="https://i.imgur.com/C6nR8FS.png" alt="Counties" style="width:500px;height:100px;"/>  
<br>

<h5>precincts</h5>
<img src="https://i.imgur.com/yGwNjo9.png" alt="Precincts" style="width:500px;height:110px;"/>  
<br>

<h5>municipalities</h5>
<img src="https://i.imgur.com/Rm9zROX.png" alt="Municipalities" style="width:500px;height:110px;"/>  
<br>

<h5>wards</h5>
<img src="https://i.imgur.com/zFyHZcx.png" alt="Wards" style="width:500px;height:110px;"/>  
<br>

<h5>vhist (Voter History)</h5>
<img src="https://imgur.com/2GBYcbD.png" alt="Vhist" style="width:500px;height:280px;"/>  
<br>

<h5>parties</h5>
<img src="https://i.imgur.com/rg4nISJ.png" alt="Parties" style="width:500px;height:90px;"/>  
<br>


<br>
<br>
<h5>Below is the ERD to see how the entities generally relate to one another:</h5>
<img src="https://i.imgur.com/JkQV9wP.png" alt="ERD" style="width:800px;height:550px;"/>  
<br>




</body>
</html>


</body>
</html>